Source: io.elementary.tasks
Section: x11
Priority: extra
Maintainer: elementary, Inc. <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               libadwaita-1-dev,
               libecal2.0-dev,
               libedataserver1.2-dev,
               libgeoclue-2-dev,
               libgeocode-glib-dev,
               libgdata-dev,
               libgranite-7-dev,
               libgtk-4-dev,
               libical-dev,
               libportal-dev,
               libportal-gtk4-dev,
               libshumate-dev,
               meson,
               valac
Standards-Version: 4.1.1

Package: io.elementary.tasks
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Create and track the progress of tasks
