/*
 * Copyright 2020-2024 elementary, Inc. (https://elementary.io)
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

editable-label entry {
    background: transparent;
    border: none;
    box-shadow: none;
    color: inherit;
    padding: 0;
}

editable-label entry text {
    padding: 0;
}

entry-popover > box {
    border-radius: 3px;
    background: @SILVER_300;
    color: @SILVER_900;
}

entry-popover > box button {
    background: transparent;
    border: none;
    color: inherit;
    font-size: 0.9em;
    box-shadow: none;
    font-weight: 600;
}

entry-popover.error > box {
    background: alpha(@error_color, 0.2);
    color: @error_color;
}

row.task {
    transition: all 250ms ease-in-out;
}

row.task:focus:not(.card) {
    background-color: shade(@base_color, 0.8);
}

row.task.card {
    background-color: @base_color;
    margin-bottom: 12px;
    margin-top: 1px;
    padding-top: 6px;
}

row.task entry.flat  {
    background: transparent;
    border-style: solid;
    border-color: transparent;
    padding: 0;
}

row.task entry.flat:focus {
    opacity: 1;
}

row.task:not(.card) entry.add-task {
    border-color: alpha(@text_color, 0.25);
}

row.task.drag-active {
    background-color: @bg_color;
    border: 1px solid @borders;
    border-radius: 3px;
    transition: none;
}

.button-box button {
    min-width: 86px; /* https://github.com/elementary/granite/issues/577#issuecomment-1318979272 */
}

.source-color {
    background: @colorAccent;
    border: 1px solid @borders;
    border-radius: 50%;
    box-shadow:
        inset 0 1px 0 0 alpha(@inset_dark_color, 0.7),
        inset 0 0 0 1px alpha(@inset_dark_color, 0.3),
        0 1px 0 0 alpha(@bg_highlight_color, 0.3);
    min-height: 14px;
    min-width: 14px;
}

.sidebar image {
    color: @text_color;
}

.drop-hover {
    background-color: @selected_bg_color;
}
