/*
 * Copyright 2020-2024 elementary, Inc. (https://elementary.io)
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

box.titlebar {
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}

editable-label entry {
    background: transparent;
    border: none;
    box-shadow: none;
    color: inherit;
    padding: 0;
}

entry-popover > box {
    border-radius: 3px;
    background: @SILVER_300;
    color: @SILVER_900;
}

entry-popover > box button {
    color: inherit;
    font-size: 0.9em;
    font-weight: 600;
}

entry-popover.error > box {
    background: alpha(@error_color, 0.2);
    color: @error_color;
}

row.task {
    padding: 0.5rem;
    transition: all 250ms ease-in-out;
}

row.task:selected {
    background: transparent;
}

row.task > revealer > grid {
    padding: 0 1rem;
}

row.task .card {
    background-color: @base_color;
    padding-top: 1rem;
    border-spacing: 0 0.5rem;
}

row.task .button-box {
    margin-bottom: 1rem;
}

row.task > revealer > grid > revealer > box.vertical {
    border-spacing: 1rem;
}

row.task entry.flat text {
    padding-left: 0;
    padding-right: 0;
}

row.task.drag-active {
    background-color: @bg_color;
    border: 1px solid @borders;
    border-radius: 3px;
    transition: none;
}

.button-box button {
    min-width: 86px; /* https://github.com/elementary/granite/issues/577#issuecomment-1318979272 */
}

.circular-progress-bar {
    border: 2px solid @accent_color;
    border-radius: 50%;
    min-width: 8px;
    min-height: 8px;
    padding: 2px;
}

.sidebar image {
    color: @text_color;
}

.drop-hover {
    background-color: @selected_bg_color;
}
