/*
 * Copyright 2020-2023 elementary, Inc. (https://elementary.io)
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

entry-popover box {
    border-radius: 3px;
    background: @SILVER_300;
}

entry-popover button {
    color: @SILVER_900;
    font-size: 0.9em;
    font-weight: 600;
}

entry-popover.error box {
    background: alpha (@error_color, 0.2);
}

entry-popover.error button {
    color: @error_color;
}
