/*
* Copyright 2019 elementary, Inc. (https://elementary.io)
*
* This program is free software; you can redistribute it and/or
* modify it under the terms of the GNU General Public
* License as published by the Free Software Foundation; either
* version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public
* License along with this program; if not, write to the
* Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
* Boston, MA 02110-1301 USA
*
*/

.sidebar-header {
    background-color: shade (@bg_color, 0.92);
    color: mix (@bg_color, @text_color, 0.77);
}

.sidebar-header:dir(ltr) {
    border-top-right-radius: 0;
}

.sidebar-header:dir(rtl) {
    border-top-left-radius: 0;
}

.listview-header:dir(ltr) {
    border-top-left-radius: 0;
}

.listview-header:dir(rtl) {
    border-top-right-radius: 0;
}

paned {
    background-color: @bg_color;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
